<header>
    <h1 data-i18n="header.title"></h1>
    <h2 data-i18n="header.sub-title"></h2>

    <table>
        <tr>
            <td>
                <h1 data-i18n="header.name"></h1>
                <ul>
                    <li>
                        <span data-i18n="header.date-title"></span>: <span data-i18n="header.date"></span>
                    </li>
                    <li>
                        <span data-i18n="header.nationality-title"></span>: <span data-i18n="header.nationality"></span>
                    </li>
                </ul>
                <div>
                    <h3 data-i18n="header.professional-title"></h3>
                    <p data-i18n="header.professional-sub-title"></p>
                </div>
            </td>
            <td>
            </td>
            <td>
                <!--Contacts-->
                <ul>
                    <br>
                    <li>
                        <span data-i18n="header.email-title"></span>: <span data-i18n="header.email"></span>
                    </li>
                    <li>
                        <span data-i18n="header.phone-number-title"></span>: <span data-i18n="header.phone-number"></span>
                    </li>
                    <li>
                        <span data-i18n="header.portfolio-title"></span>: <span data-i18n="header.portfolio"></span>
                    </li>
                    <li>
                        <span data-i18n="header.website-title"></span>: <span data-i18n="header.website"></span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</header>

<!--Who am I?-->
<div>
    <p data-i18n="header.professional-profile"></p>
</div>