<header>
    <h1 data-i18n="header.title"></h1>
    <h2 data-i18n="header.sub-title"></h2>

    <h1 data-i18n="header.name"></h1>
    <h3 data-i18n="header.professional-title"></h3>
    <p data-i18n="header.professional-sub-title"></p>

    <!--Contacts-->
    <ul>
        <li>
            <span data-i18n="header.email-title"></span>: <span data-i18n="header.email"></span>
        </li>
        <li>
            <span data-i18n="header.phone-number-title"></span>: <span data-i18n="header.phone-number"></span>
        </li>
        <li>
            <span data-i18n="header.website-title"></span>: <span data-i18n="header.website"></span>
        </li>
    </ul>
</header>